*{
    background-image: url(https://images7.alphacoders.com/423/423137.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    
}

body :before{

    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

   
}

.contenido{
    font-size: 35px;
    color: rgb(253, 251, 251);
    z-index: 2;
    
}

#pagina .contenido .introduccion{

    font-size: 15;
    padding: 10%;
  
}